@import "bootstrap";

.btn
{
  margin: 5px
}

.card-columns
{
  size: 10%;
}

@media (min-width:34em) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial; 
    }
}

.card-columns a
{
  color: black;
}

.card-columns a:hover
{
  color: grey;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }

    margin: 20px;
  }

  .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: #f5f1ee;
  }
  
  // Show page.
  .service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
  }
  
  .service-image-left > center > img{
    max-height: 400px;
  }